.demo {

  header {
    margin-bottom: 30px;
  }

  #container {
    width: 900px;
    margin: 0 auto 50px auto;
    overflow: hidden;
  }

  #maincolumn {
    width: 680px;
    float: left;
  }

  #sidebar {
    width: 150px;
    float: right;
  }

  .box {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    &_tit {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    li {
      margin-bottom: 10px;
    }

    select {
      width: 150px;
      height: 22px;
      border-radius: 0;
      font-size: 12px;
    }
  }


}
