<%_
  var root = ''
  var pageId = 'top'
  var title = 'test'
  var description = 'top description'
  var cssFile = []
  var jsFile = []
_%>
<%_ include ../include/_header _%>
      <div id="maincolumn">
        <p>hello world</p>
      </div>
<%_ include ../include/_sidebar _%>
<%_ include ../include/_footer _%>
